extends header

block content
    script(type='text/javascript').
        $(function() {

        });

    #framebox
        .toparea
            .center-wrapper
                .location
                .title
                    .text